<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
  <% newListItems.forEach(function(listItem){ %>
  <form action="/completed" method="post">
      <div class="item">
        <% if (listItem.topic){ %>
           <input type="checkbox" name="checkbox" value="<%=listItem._id%>" onChange="this.form.submit()">
        <% } %>
        <p <% if(listItem.timestamp==="" && listItem.topic===true){%>   class="new"   <%}%>  >
            <%=  listItem.name + "  " + listItem.timestamp%>
        </p>
      </div>
    <input type="hidden" name="listItem" value="<%= listItem.name %>"></input>
    <input type="hidden" name="listTimestamp" value="<%= listItem.timestamp %>"></input>
    </form>
<% }) %>
<p class="stephen">Well Done! Stephen Setiawan. 加油 <a href="#atas">🦾</a></p>
<p class="quotes"> <%=quotes.quote%> (<%=quotes.author%>)  </p>
<%- include("footer") -%>
